<!--
This is a really simple page that we're building here.  It's going to have a title and a body of content.

This page only has some basic content, so we'll build it by including a template that we've built to handle some HTML output.  A more complex page, like List View in this app, will have more than a simple template include.

Keep in mind that this template include isn't necessary. All of the HTML we output can easily be in this file.  However, this include demonstrates the power of modular, reusable Angular templates.
-->
<div ng-include="'/views/content.html'"></div>
